    
    
<!-- {/* <div id="GalleryModal">
  <span class="GalleryClose cursor" onclick="closeModal()" acceskey="esc">
    ×
    </span>
  <div class="modal-content"> */} -->

    <div class="GallerySlides">
      <div class="Gallerynumbertext">$currentno / $totalamount</div>
      <div class="Galleryviewfullimage">
        <a href="images/$IMGURL" target="_blank">$viewphotocaption</a> | <a href="images/$IMGURL" download="">$downloadphotocaption</a>
      </div>
      <img src="images/resized/800px/$IMGURL">
    </div>

    <!-- a href arrows -->
    
    <div class="gallery-caption">
      <p id="Gallery1Caption"></p>
    </div>

    <div class="scrollablegallerylist">
      <div class="GalleryColumn1" id="gallery$k-item-$j">
        <img class="Gallery1Demo cursor" src="images/resized/800px/$IMGURL" style="width:auto" onclick="currentSlide(1)" alt="">
      </div>
    </div>

  <!-- {/* </div>
</div> */} -->