
/* Gallery Styles */
* {
    box-sizing: border-box;
  }
  #GalleryRow {
      display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #GalleryRow > .GalleryColumn {
    margin: 2px;
    position: relative;
  }
  
  #GalleryRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .GalleryColumn {
    display:inline-block;
    height: 200px;
    border:3px solid #2a2a2a;
    padding: 1px;
    width: calc(25% - 10px);
    background-size: cover; 
    background-position: center;
  }
  .GalleryColumn img {
      height:100%;
      object-fit: contain;
      vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* object-fit: cover;
    object-position: 50% 30%; */
  }
  .GalleryColumn1 {
    height: 10vh;
    border:3px solid #1a1a1a;
    padding: 1px;
    display: inline-block;
  }
  .GalleryColumn1 img {
      height:100%;
      vertical-align: middle;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
  }
/* The Modal (background) */
#GalleryModal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
  }
  
  /* The Close Button */
  .GalleryClose {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .GalleryClose:hover,
  .GalleryClose:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .GallerySlides {
    display: none;
    max-height: 550px;
    background-color: black;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .GallerySlides img, iframe {
      height: 70vh;
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
  }

  .GallerySlides iframe {
    width: 70vw !important; 
    /* height: 377px !important; */
  }
  
  .cursor {
    cursor: pointer;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.222);
  }
  
  /* Number text (1/3 etc) */
  .Gallerynumbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  .Galleryviewfullimage {
    color: #f2f2f2;
    background-color:rgba(0, 0, 0, 0.5);
    font-size: 12px;
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  .Galleryviewfullimage a {
    color: var(--main-font);
  }
  
  
  .gallery-caption {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
    height: 60px;
    overflow: auto;
  }
  
  .Gallery1Demo {
    opacity: 0.4;
  }
  
  .active,
  .Gallery1Demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.scrollablegallerylist {
    overflow: auto;
    white-space: nowrap;
    background-color: #1a1a1a;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

main>figure {
  display: inline-block;
  vertical-align: top;
  margin: 8px 20px 16px 0;
  /* width: 220px; */
  margin-left: 3px;
  margin-right: 3px;
}

main>figure img {
  width: 100%;
  cursor: pointer;
}

main>figure>figcaption {
  font-size: 14px;
    line-height: 16px;
    padding-top: 4px;
    padding-left: 3px;
    font-family: Sylfaen;
    color: var(--secondary-font)
}
.figleft {
  float: left;
}

.figright {
  float: right;
}

.wikia-gallery-item {
  box-sizing: content-box;
  display: inline-block;
  margin: 2px;
  /* padding: 1em; */
  text-align: left;
  vertical-align: top;
  white-space: normal;
  width: calc(25% - 10px);
}

.wikia-gallery-item .thumb {
  margin: 0;
  overflow: visible;
  position: relative;
  text-align: center;
  height: auto;
}

.wikia-gallery-border-small .thumb .gallery-image-wrapper {
  border-width: 1px;
}

.wikia-gallery-item .thumb .gallery-image-wrapper {
  border-style: solid;
  overflow: hidden;
}

.wikia-gallery-item .thumb a.image, .wikia-gallery-item .thumb a.image-no-lightbox {
  align-items: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  justify-content: center;
  line-height: 1px;
  text-decoration: none;
  width: 100%;
}
.video-thumbnail .thumbnail-play-icon-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wikia-gallery-item .thumb a.image img, .wikia-gallery-item .thumb a.image-no-lightbox img {
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% ;
}

.wikia-gallery-item .title, .wikia-gallery-item>.lightbox-caption {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}