body {
    background-color: var(--main-background);
}
main {
    background-color: var(--main-background);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 0;
    height: auto;
    color: var(--main-font);
    min-height: 100vh;
    padding-left: 14px;
    padding-right: 14px;
    overflow: auto;
}

.wiki-page-title-header {
    text-align: center;
}

.page-separator {
    background-color: var(--main-background) !important;
}
 figure>img {
    width: 98% !important;
    margin-left: auto !important;
    margin-right: auto !important;
 }

 main>figure {
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    padding-bottom: 10px;
    width: 100% !important
  }

 main>figure>figcaption {
    font-size: 14px;
      line-height: 16px;
      padding-top: 4px;
      padding-left: 3px;
      font-family: Sylfaen;
      color: var(--secondary-font)
  }