main {
    background-color: var(--main-background);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 0;
    height: auto;
    color: var(--main-font);
    min-height: 200vh;
    padding-left: 14px;
    padding-right: 14px;
    overflow: auto;
}

.wiki-page-title-header {
    text-align: center;
}

.page-separator {
    background-color: var(--main-background) !important;
}
