* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html {
  scroll-behavior: smooth;
}
 main p {
    font-family: var(--mainparagraphfontfamily),rubik,helvetica,arial,sans-serif;
 }
main>ul>li {
    font-family: var(--mainparagraphfontfamily),rubik,helvetica,arial,sans-serif;
}
 main h2 {
    font-family: var(--header2fontfamily) !important;
 }


 ::selection {
    color: #c8f2ff;
    background: #113e57;
}

::-webkit-scrollbar {
    width: 14px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #7bc0d5; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7bc0d5; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #113e57; 
  }
  
 a {
    text-decoration: none;
    color: var(--link);
 }

 .wiki-page-title-header {
    padding-top: 14px;
}

 .wiki-page-title-header h1 {
    font-family: var(--headerfontfamily);
 }


.page-separator {
    background-color: #4a4a4a;
    border: 0;
    height: 1px;
    margin-bottom: 18px;
    margin-top: 10px;
}

.footer {
    background-color: var(--footer);
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.footer p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    margin: 0;
    color: var(--main-font);
}

#toc {
    background-color: transparent;
    border-radius: 3px;
    font-size: 100%;
    margin: 24px auto 24px 0;
    padding: 0;
    display: table;
    padding: 7px;
    border: 1px solid var(--theme-border-color);
    padding: 5px;
    font-size: 95%;
    border-collapse: collapse;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.toctogglecheckbox {
    display: inline !important;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.toctitle {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    line-height: 1;
    padding: 12px;
    direction: ltr;
    min-width: 235px;
}

.toctitle>h2 {
    border: 0;
    color: var(--main-font);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
}

#toc svg {
    fill: var(--main-font);
    margin-right: 6px;
    height: 12px;
    min-width: 12px;
    width: 12px;
}

.toctogglespan {
    margin-left: 6px;
    font-size: 94%;
}

.toctogglelabel {
    font-size: 12px;
    margin: 0 1px;
    cursor: pointer;
    color: var(--link);
}

.toctogglespan:before {
    content: ' [';
}

.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after {
    content: 'ჩაკეცვა';
}

.toctogglespan:after {
    content: ']';
}

.toctogglecheckbox:checked + .toctitle .toctogglelabel:after {
    content: 'გაშლა';
}

#toc ul {  
    margin: 0;
    list-style: none;
}

#toc li {
    list-style: none;
}

#toc>ul {
    border-top: 1px solid var(--theme-border-color);
    max-width: 400px;
    padding: 9px 12px 9px 0;
}
 
#toc li { 
    word-wrap: break-word;
    margin-left: 12px;
    overflow-wrap: break-word;
}

.tocnumber { 
    color: rgba(230,230,230, .6);
}

#toc a {
    border-radius: 3px;
    color: var(--main-font);
    display: block;
    line-height: 2;
    padding: 2px 6px;
    text-decoration: none;
    -webkit-transition-property: background-color,color;
    transition-property: background-color,color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

#toc a:hover {
    color: var(--link);
    background-color: rgba(var(--link--rgb),.15);
}

#toc>ul>li:not(:first-child) {
    padding-top: 0;
}

main p {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

main h2::before {
    display: block; 
    content: " "; 
    margin-top: -52px; 
    height: 52px; 
    visibility: hidden; 
    pointer-events: none;
}

main h2 {
    border-bottom: 1px solid var(--theme-border-color);
    font-size: 24px;
    font-weight: 500;
    /* overflow: hidden; */
    padding-bottom: 6px;
    font-family: var(--page-headings-font),rubik,helvetica,arial,sans-serif;
    line-height: 1.25;
    margin: 18px 0 9px;
}

main h3::before {
    display: block; 
    content: " "; 
    margin-top: -52px; 
    height: 52px; 
    visibility: hidden; 
    pointer-events: none;
}

main>h3 {
    padding-bottom: 6px;
    font-family: var(--page-subheadings-font),rubik,helvetica,arial,sans-serif;
    line-height: 1.25;
    margin: 18px 0 9px;
    overflow-wrap: break-word;
}

main pre {
    word-wrap: normal;
    background-color: var(--navigation-dropdown-menu);
    border: 1px solid var(--navigation-dropdown-menu-border);
    color: var(--main-font);
    line-height: 1.75;
    overflow: auto;
    padding: 12px;
    white-space: pre-wrap;
    width: 60%;
}

main>ul {
    margin: 6px 0 18px 36px;
}

main {
    line-height: 1.75;
}

/* Search Bar Styles */

#search-bar {
    /* width: 500px; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /* border: 2px solid #ccc; */
    /* border-radius: 4px; */
    /* font-size: 16px; */
    position : relative;
    width: 450px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  #search-bar:focus {
outline: none;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 5px #7bc0d5;
background-color: #f8f8f8;
}
 #search-results {
    width: 450px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid gray;
    padding: 5px;
    /* overflow: visible; */
    position: absolute;
    top: 46px;
    background-color: black;
    color: white;
 }
  
  .search-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  #search-results a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
  }
  #search-results img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .search-item img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    object-fit: cover;
  }
  
  .search-item-name {
    font-size: 16px;
    font-weight: bold;
    color:#0190b8;
  }
  
  .search-item-description {
    font-size: 14px;
    color: #dbe5e6;
  }

  a:link {
    color: var(--link); /* set the color of all links to blue */
  }
  
  a.red-link:link {
    color: #bf0017 !important; /* set the color of nonexistent links to red */
  }
