a[href~="Bates_Motel_(TV_series).html"] {
    color:#bf0017 !important;
}
a[href~="Season_1.html"] {
    color:#bf0017 !important;
}
a[href~="Season_2.html"] {
    color:#bf0017 !important;
}
a[href~="Season_3.html"] {
    color:#bf0017 !important;
}
a[href~="Season_4.html"] {
    color:#bf0017 !important;
}
a[href~="Season_5.html"] {
    color:#bf0017 !important;
}
a[href~="Carlton_Cuse.html"] {
    color:#bf0017 !important;
}
a[href~="Kerry_Ehrin.html"] {
    color:#bf0017 !important;
}
a[href~="Anthony_Cipriano.html"] {
    color:#bf0017 !important;
}
a[href~="Tucker_Gates.html"] {
    color:#bf0017 !important;
}
a[href~="Sam_Bates.html"] {
    color:#bf0017 !important;
}
a[href~="Keith_Summers.html"] {
    color:#bf0017 !important;
}
a[href~="Norman_Bates.html"] {
    color:#bf0017 !important;
}
a[href~="Norma_Bates.html"] {
    color:#bf0017 !important;
}
a[href~="Alex_Romero.html"] {
    color:#bf0017 !important;
}
a[href~="Dylan_Massett.html"] {
    color:#bf0017 !important;
}
a[href~="Emma_Decody.html"] {
    color:#bf0017 !important;
}
a[href~="Bradley_Martin.html"] {
    color:#bf0017 !important;
}
a[href~="Chick_Hogan.html"] {
    color:#bf0017 !important;
}
a[href~="Marion_Crane.html"] {
    color:#bf0017 !important;
}
a[href~="Caleb_Calhoun.html"] {
    color:#bf0017 !important;
}
a[href~="Blaire_Watson.html"] {
    color:#bf0017 !important;
}
a[href~="The_Man_in_Number_9.html"] {
    color:#bf0017 !important;
}
a[href~="A_Boy_and_His_Dog.html"] {
    color:#bf0017 !important;
}
a[href~="Underwater.html"] {
    color:#bf0017 !important;
}
a[href~="Midnight.html"] {
    color:#bf0017 !important;
}
a[href~="Vera_Farmiga.html"] {
    color:#bf0017 !important;
}
a[href~="Freddie_Highmore.html"] {
    color:#bf0017 !important;
}
a[href~="Max_Thieriot.html"] {
    color:#bf0017 !important;
}
a[href~="Olivia_Cooke.html"] {
    color:#bf0017 !important;
}
a[href~="Nicola_Peltz.html"] {
    color:#bf0017 !important;
}
a[href~="W._Earl_Brown.html"] {
    color:#bf0017 !important;
}
a[href~="Nestor_Carbonell.html"] {
    color:#bf0017 !important;
}
a[href~="Mike_Vogel.html"] {
    color:#bf0017 !important;
}
a[href~="Keegan_Connor_Tracy.html"] {
    color:#bf0017 !important;
}
a[href~="David_Cubitt.html"] {
    color:#bf0017 !important;
}
a[href~="Zack_Shelby.html"] {
    color:#bf0017 !important;
}
a[href~="Richard_Harmon.html"] {
    color:#bf0017 !important;
}
a[href~="Richard_Sylmore.html"] {
    color:#bf0017 !important;
}
a[href~="Emmalyn_Estrada.html"] {
    color:#bf0017 !important;
}
a[href~="Hayden.html"] {
    color:#bf0017 !important;
}
a[href~="Jenna_Romanin.html"] {
    color:#bf0017 !important;
}
a[href~="Jenna.html"] {
    color:#bf0017 !important;
}
a[href~="Conchita_Campbell.html"] {
    color:#bf0017 !important;
}
a[href~="Kennedy.html"] {
    color:#bf0017 !important;
}
a[href~="Brittney_Wilson.html"] {
    color:#bf0017 !important;
}
a[href~="Lissa.html"] {
    color:#bf0017 !important;
}
a[href~="Stephen_Boersma.html"] {
    color:#bf0017 !important;
}
a[href~="Unnamed_dude.html"] {
    color:#bf0017 !important;
}
a[href~="Christine_Chatelain.html"] {
    color:#bf0017 !important;
}
a[href~="Marcy_McClean.html"] {
    color:#bf0017 !important;
}
a[href~="Psycho_(movie).html"] {
    color: #bf0017 !important;
}
a[href~="White_Pine_Bay.html"] {
    color: #bf0017 !important;
}
a[href~="Terry_Chen.html"] {
    color: #bf0017 !important;
}
a[href~="Ethan_Chang.html"] {
    color: #bf0017 !important;
}
a[href~="Vincent_Gale.html"] {
    color: #bf0017 !important;
}
a[href~="Gil_Turner.html"] {
    color: #bf0017 !important;
}
a[href~="Francisco_Cano.html"] {
    color: #bf0017 !important;
}
a[href~="Jose_Vargas.html"] {
    color: #bf0017 !important;
}
a[href~="Matthew_Mandzij.html"] {
    color: #bf0017 !important;
}
a[href~="Patrick_Koslo.html"] {
    color: #bf0017 !important;
}
a[href~="Paco.html"] {
    color: #bf0017 !important;
}
a[href~="Tony.html"] {
    color: #bf0017 !important;
}
a[href~="Deputy_Jeffcoat.html"] {
    color: #bf0017 !important;
}
a[href~="Town_Man.html"] {
    color: #bf0017 !important;
}
a[href~="Psycho_(novel).html"] {
    color: #bf0017 !important;
}
a[href~="Paul_Edwards.html"] {
    color: #bf0017 !important;
}
a[href~="Jeff_Wadlow.html"] {
    color: #bf0017 !important;
}
a[href~="Jiao.html"] {
    color: #bf0017 !important;
}
a[href~="Diana_Bang.html"] {
    color: #bf0017 !important;
}
a[href~="Peter_Bryant.html"] {
    color: #bf0017 !important;
}
a[href~="Doctor_Levine.html"] {
    color: #bf0017 !important;
}
a[href~="Scott_Patey.html"] {
    color: #bf0017 !important;
}
a[href~="Omar.html"] {
    color: #bf0017 !important;
}
a[href~="Angela_Moore.html"] {
    color: #bf0017 !important;
}
a[href~="Nurse.html"] {
    color: #bf0017 !important;
}
a[href~="Johan_Renck.html"] {
    color: #bf0017 !important;
}
a[href~="Ian_Hart.html"] {
    color: #bf0017 !important;
}
a[href~="Will_Decody.html"] {
    color: #bf0017 !important;
}
a[href~="David_Straiton.html"] {
    color: #bf0017 !important;
}

a[href~="Lara_Gilchrist.html"] {
    color: #bf0017 !important;
}
a[href~="Lindsay_Collins.html"] {
    color: #bf0017 !important;
}
a[href~="Topher_Allen.html"] {
    color: #bf0017 !important;
}
a[href~="Aliyah_O'Brien.html"] {
    color: #bf0017 !important;
}
a[href~="Hinde_Rabbaj.html"] {
    color: #bf0017 !important;
}
a[href~="Rebecca_Craig.html"] {
    color: #bf0017 !important;
}
a[href~="Legal_Assistant.html"] {
    color: #bf0017 !important;
}
a[href~="Tweaker.html"] {
    color: #bf0017 !important;
}
a[href~="Regina.html"] {
    color: #bf0017 !important;
}
a[href~="ER_Nurse_(1).html"] {
    color: #bf0017 !important;
}
a[href~="Ian_Tracey.html"] {
    color: #bf0017 !important;
}
a[href~="Remo_Wallace.html"] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}
a[href~=""] {
    color: #bf0017 !important;
}